*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    width: 100%;
    height: 100vh;
    background-color: black;
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    padding: 0 7%;
}

.container {
    width: 100%;
    height: 100vh; /* Set your desired height */
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    padding: 0 7%;
    transform: background-image 2s;
    background-image: url("../images/DelSolOpening.png");
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.logo{
    width: 320px;
    cursor: pointer; /*to show when the mouse pointer is over an element*/
}

nav ul{
    flex: 1;
    text-align: center;
}
nav ul li{
    display: inline-block;
    margin: 10px 20px;    
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav .btn{
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 20px;
    margin: 2%;
}

.info{
    width: 100%;
    padding: 0 7%;
    display: flex;
    align-items: center;
    color: white;
    position: fixed;
    bottom: 50px;
    left: 0;
}
.info div{
    margin: 0 20px;
}
.info div h2{
    font-size: 44px;
    font-weight: 400;
}
.info .line{
    flex: 1;
    background: white;
    height: 4px;
}

.CRX{
    width: 500px;
    height: auto;
    margin: 1%;
}

.crxinfo{
    width: 50%;
    position: relative;
    margin-left: 45%;
    margin-top: -25%;
}
.Hondagen{
    width: 300px;
    height: auto;
    margin: 1%;
    position: flex;
    margin-top: 1%;
    margin-left: 75%;
}
.hondageninfo{
    width: 60%;
    position: relative;
    margin-left: 2%;
    margin-top: -37%;  
}