*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

header{
    width: 100%;
    height: 100vh;
    background-image: url("../images/VXI-bum.PNG");
    background-color: black;
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    padding: 0 7%;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
}